@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box
}


html{
    font-size: 16px;
    background-color: rgb(22, 22, 24);
    color: aliceblue;
}

body{
    font-family: 'Noto Serif JP', serif;
}

/* ヘッダー */
header{
    display: flex;
}

ul{
    display: flex;
}

li{
    margin-left: 10px;
}

nav{
    margin: auto 0 auto auto;
}

header>p{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    margin: 0.5rem;
    font-size: 1.5rem;
}


/* トップ画像 */
img{
    width: 100%;
}

.top-image img{
    width: 100%;
    max-width: 1920px;
    height: 300px;
    object-fit: cover;
}

/* メイン */

h1,h2,h3,h4,h5,h6{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}
article{
    margin-bottom: 1.5rem;
}

h1{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    margin: 1.5rem;
    }

.hand{
    float: right;
    width: 400px;
}

h2{
    margin-bottom: 1.5rem;
}

h3{
    margin-left: 0.5rem;
}

p{
    margin-bottom: 1.8rem;
    margin-left: 1.1rem;
}

.main{
    margin-left: 20%;
    margin-right: 20%;
}

footer{
    text-align: center;
}

.phot>a>img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    /* 中央ぞろえ */
    display: flex;
    margin-left: auto;
    margin-right: auto

}
