@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box
}


html{
    font-size: 16px;
}

header{
    font-family: 'Noto Serif JP', serif;
    color: aliceblue;
    background-color: rgb(55, 55, 66);
    padding: 0%;
    border: 0%;
    position: sticky;
}



body{
    font-family: 'Noto Serif JP', serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.left{
    object-fit: cover;
    max-height: 500px;
}

h1{
    font-display: center;
}

footer{
    padding: 1.3rem;
    border: 0%;
    background-color: gold;
}
.all{
    display: flex;
    object-fit: cover;
    height: auto;
}
