@charset "utf-8";

#font1 {
    color: red;
    font-size: 2.0rem;
    font-family: suns-serif;
    font-weight: 1000;
    text-align: center;

}

#font2 {
    color: orange;
    font-size: 2.0rem;
    font-family: sans-serif;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
}

#layout1 {
    color: rgb(255, 238, 0);
    font-size: 2.0rem;
    font-family: sans-serif;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
}

#layout2 {
    color:rgb(51, 255, 0);
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
}


body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./../image/cb002e6223a6451856c14d68ef7cae00_t.jpeg") ;

}

.image{
    text-align: center;
}
